.header {
  padding: 5rem 0;
  //   margin-bottom: 6.5rem;
  &__d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
      @include responsive(m-desktop) {
        width: 89px;
        height: 45px;
      }
    }
    .burger-btn {
      display: none;
      img {
        width: 3rem;
        height: 1.7rem;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.6;
        }
      }
      @include responsive(tablet) {
        display: block;
      }
    }
  }
}
